.FormGlass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* width: fit-content; */
  max-width: 40rem;
  margin: auto;
  
}

.buttonSubmit{
    /* background: #5D17A4!important; */
    background: #694ead!important;
}
